In [10]:
import pandas as pd

In [52]:
def read_files(years_list):
    yob_list = []
    
    for year in years_list:
        path = 'names/yob' + str(year) + '.txt'
        yob_file = pd.read_csv(path, names = ['Name', 'Gender', 'Count'])
        yob_file['Year'] = year
        yob_list.append(yob_file)
    return yob_list

In [100]:
def concat_df(years_list):
    yob_list = read_files(years_list)
    df = pd.concat(yob_list)
    return df

In [99]:
def return_top_names(years_list):
    df = concat_df(years_list)
    df_sum = df.groupby(['Name', 'Gender']).sum()[['Count']]
    df_sort = df_sum.sort_values('Count', ascending=False)
    result_df = df_sort[0:3]
    return result_df

return_top_names([1900, 1950, 2000])

                Count
Name   Gender
James  M       111456
John   M       109349
Robert M       101118

In [104]:
def return_gender_dynamics(years_list):
    df = concat_df(years_list)
    gender_dynamics = df.groupby(['Year', 'Gender']).sum()[['Count']]
    return gender_dynamics
return_gender_dynamics([1900, 1950, 2000])

               Count
Year Gender
1900 F        299798
     M        150480
1950 F       1713065
     M       1790437
2000 F       1815295
     M       1963202